<!-- TODO: make the footer a 3 column responsive layout -->
<footer>
  <div class="bg-secondary">
    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-md-3 col-6">
          <h5 style="display: flex; justify-content: center; align-items: center; height: 25vh;">Company Name</h5>
        </div>
        <div class="col-md-3 col-6">
          <h5>About</h5>
          <ul class="list-unstyled">
            <li>Learn More</li>
            <li>People</li>
            <li>Careers</li>
          </ul>
        </div>
        <div class="col-md-3 col-6">
          <h5>Resources</h5>
          <ul class="list-unstyled">
            <li>Docs</li>
            <li>Blog</li>
          </ul>
        </div>
        <div class="col-md-3 col-6">
          <h5>Contact</h5>
          <ul class="list-unstyled">
            <li>Help</li>
            <li>Sales</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark">
    <div class="container">
      <div class="row py-4">
        <div class="col-12">
          <small>&#9400; Company Software. All rights reserved.</small>
          <small class="float-md-right">hello@Company.com</small>
        </div>
      </div>
    </div>
  </div>
</footer>
